
@{
    ViewBag.Title = "Hóa đơn điện nước";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-success">Hóa đơn điện nước</button>
        </div>
        <div class="col-sm-4 col-sm-offset-6 text-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm" id="txtSearch" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit" id="btnSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12 col-sm-offset-0 text-right">
            <nav aria-label="...">
                <ul class="pagination pagination-sm" id="phanTrang"></ul>
            </nav>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Mã dãy phòng</th>
                <th>Mã phòng</th>
                <th>Điện tháng trước</th>
                <th>Điện tháng này</th>
                <th>Chỉ số điện</th>
                <th>Nước tháng trước</th>
                <th>Nước tháng này</th>
                <th>Chỉ số nước</th>
                <th>Tiền điện</th>
                <th>Tiền nước</th>
                <th>Thành tiền</th>
                <th>Tháng lập</th>
                <th>Năm lập</th>
                <th>Trạng thái hóa đơn</th>
            </tr>
        </thead>
        <tbody id="tblDsHDDN">
        </tbody>
    </table>

    <div class="modal" tabindex="-1" role="dialog" id="modalHDDN">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="modalTitle"></div>
                    <div class="panel-body">
                        <input type="text" hidden id="idHDDN" value="" />
                        <div class="form-group">
                            <label>Mã phòng(<span class="text-danger">*</span>):</label>
                            <select id="selectPhong" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Mã đơn giá(<span class="text-danger">*</span>):</label>
                            <select id="selectDongia" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Tháng(<span class="text-danger">*</span>):</label>
                            <input type="number" class="form-control" id="thang" placeholder="Tháng">
                        </div>
                        <div class="form-group">
                            <label>Năm(<span class="text-danger">*</span>):</label>
                            <input type="number" class="form-control" id="nam" placeholder="Năm">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái(<span class="text-danger">*</span>):</label>
                            <select class="form-control" name="trangthai" id="trangthai">
                                <option value="0" selected>Đã thu tiền</option>
                                <option value="1">Chưa thu tiền</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSubmit">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tuKhoa = "";
        var trang = 1;
        $(document).ready(function () {
            LoadDsDongia(); // load danh sách dãy phòng ID -> Mã dãy
            LoadDsPhong();// load danh sách dãy phòng ID -> Mã phòng
            LoadDSHDDN();//load danh sách hóa đơn phòng
        })
       
        function getHDDN(idHDDN) {
            $.ajax({
                url: '/HOADON_DIENNUOC/ChiTiet',
                type: 'get',
                data: {
                    id: idHDDN
                },
                success: function (data) {
                    if (data.code == 200) {
                        //console.log(data);
                        //alert("Danh sách hóa đơn phòng đã load lên");
                        //set giá trị mặc định cho các thành phần của form
                        $('#selectPhong').val(data.tA.ID_PHONG);
                        $('#nam').val(data.hdp.NAM);
                        $('#ky').val(data.hdp.KY);
                        $('#trangthai').val(data.hdp.TRANGTHAI);

                        //$('#quanTri').prop('checked', data.cb.QUANTRI == 1?true:false);
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

        //sự kiện click button chi tiết của mỗi dòng table
        $(document).on('click', "button[name='view']", function () {
            let idHDDN = $(this).closest('tr').attr('id');
            getHDDN(idHDDN);
            $('#modalHDDN').modal();

            //set header của modal cán bộ
            $('#modalTitle').text('Thông tin chi tiết của cán bộ');

            $('#selectDongia').prop('readonly', true);
            $('#selectPhong').prop('readonly', true);

            $('#thang').prop('readonly', true);
            $('#nam').prop('readonly', true);
            $('#trangthai').prop('readonly', true);


            ////ẩn button xác nhận
            $('#btnSubmit').hide();
        });

        $('#btnSearch').click(function () {

            tuKhoa = $('#txtSearch').val();

            LoadDSHDDN();
            if (tuKhoa.length == 0) {
                LoadDSHDDN();
            }

        });
        //load danh sách hóa đơn phòng
        function LoadDSHDDN() {
            $.ajax({
                url: '/HOADON_DIENNUOC/DsHDDN',
                type: 'get',

                data: {
                    tuKhoa,
                    trang,
                    //idDp: $('#selectDayphong option:selected').val()
                },
                success: function (data) {
                    console.log(data);
                    $('#tblDsHDDN').empty();
                    if (data.code == 200) {
                        
                        data.dshddn.forEach(p => {
                            let tr = '<tr id ="' + p.ID_HOADONDIENNUOC + '">';
                            tr += '<td>' + (p.MADAYPHONG == null ? '' : p.MADAYPHONG) + '</td>';
                            tr += '<td>' + (p.MAPHONG == null ? '' : p.MAPHONG) + '</td>';
                            tr += '<td>' + (p.DIENTHANGDAU == null ? '' : p.DIENTHANGDAU) + '</td>';
                            tr += '<td>' + (p.DIENTHANGSAU == null ? '' : p.DIENTHANGSAU) + '</td>';
                            tr += '<td>' + (p.CHISODIEN == null ? '' : p.CHISODIEN) +'</td>';
                            tr += '<td>' + (p.NUOCTHANGDAU == null ? '' : p.NUOCTHANGDAU) + '</td>';
                            tr += '<td>' + (p.NUOCTHANGSAU == null ? '' : p.NUOCTHANGSAU) + '</td>';
                            tr += '<td>' + (p.CHISONUOC == null ? '' : p.CHISONUOC) + '</td>';
                            tr += '<td>' + (p.TIENDIEN == null ? '' : p.TIENDIEN) + '</td>';
                            tr += '<td>' + (p.TIENNUOC == null ? '' : p.TIENNUOC) + '</td>';
                            tr += '<td>' + (p.THANHTIEN == null ? '' : p.THANHTIEN) + '</td>';
                            tr += '<td>' + (p.THANG == null ? '' : p.THANG) + '</td>';
                            tr += '<td>' + (p.NAM == null ? '' : p.NAM) + '</td>';
                            tr += '<td>' + (p.TRANGTHAIHDDN == 0 ? 'Chưa thanh toán' : 'Đã thanh toán') + '</td>';
                            tr += '</tr>';
                            $('#tblDsHDDN').append(tr);
                        });

                        //phân trang

                        $('#phanTrang').empty();
                        for (i = 1; i <= data.soTrang; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#phanTrang').append(li);
                        }

                        let li = $('#phanTrang li#' + trang + '');//tìm li có id = trang truyền vào
                        //ví dụ trang = 2, sẽ tìm tới cái thằng li có id = 2
                        //tìm ra đc thằng cần tìm thì add class active để đánh dấu trang hiện tại đang đc load
                        $(li).addClass('active');
                    }
                }
            })
        }

        //load danh sách dãy phòng ID -> Mã dãy
        function LoadDsDongia() {
            $.ajax({
                url: '/CanBo/HOADON_DIENNUOC/ListDongia',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#selectDongia').empty();
                        data.dsdg.forEach(dg => {
                            let option = '<option value="' + dg.ID_DONGIA + '">' + dg.MADONGIA + '</option>';
                            $('#selectDongia').append(option);
                        })
                    }
                }
            })
        }

        //load danh sách dãy phòng ID -> Mã phòng
        function LoadDsPhong() {
            $.ajax({
                url: '/CanBo/HOADON_DIENNUOC/ListPhong',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#selectPhong').empty();
                        data.dsp.forEach(dp => {
                            let option = '<option value="' + dp.ID_PHONG + '">' + dp.MAPHONG + '</option>';
                            $('#selectPhong').append(option);
                        })
                    }
                }
            })
        }



        //sự kiện click của trang
        $("#phanTrang").on("click", "li", function (e) {
            e.preventDefault();
            trang = $(this).text();
            LoadDSHDDN();
        });

    </script>
}

