
@{
    ViewBag.Title = "Hóa đơn phòng";
    Layout = "~/Areas/CanBo/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-success" id="btnAdd"><i class="fa fa-plus" aria-hidden="true"></i> Thêm hóa đơn phòng mới</button>
        </div>
        <div class="col-sm-4 col-sm-offset-6 text-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm" id="txtSearch" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit" id="btnSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12 col-sm-offset-0 text-right">
            <nav aria-label="...">
                <ul class="pagination pagination-sm" id="phanTrang"></ul>
            </nav>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã dãy phòng
                </th>
                <th>
                    Mã phòng
                </th>
                <th>
                    Năm
                </th>
                <th>
                    Kỳ
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Thành tiền
                </th>
                <th>
                    Trạng thái hóa đơn
                </th>
                <th>
                    Thao tác
                </th>

            </tr>
        </thead>
        <tbody id="tblDsHDPhong">
        </tbody>
    </table>

    <div class="modal" tabindex="-1" role="dialog" id="modalHDPhong">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="modalTitle"></div>
                    <div class="panel-body">
                        <input type="text" hidden id="idHDPhong" value="" />
                        <div class="form-group">
                            <label>Mã phòng(<span class="text-danger">*</span>):</label>
                            <select id="selectPhong" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Năm(<span class="text-danger">*</span>):</label>
                            <input type="number" class="form-control" id="nam" placeholder="Năm">
                        </div>
                        <div class="form-group">
                            <label>Kỳ(<span class="text-danger">*</span>):</label>
                            <input type="number" class="form-control" id="ky" placeholder="Kỳ(Mỗi kỳ có 6 tháng)">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái(<span class="text-danger">*</span>):</label>
                            <select class="form-control" name="trangthai" id="trangthai">
                                <option value="0" selected>Chưa thanh toán</option>
                                <option value="1">Đã thanh toán</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSubmit">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tuKhoa = "";
        var trang = 1;
        $(document).ready(function () {

            LoadDsPhong();// load danh sách dãy phòng ID -> Mã phòng
            LoadDSHDPhong();//load danh sách hóa đơn phòng
        })

        function getHDPhong(idHDPhong) {
            $.ajax({
                url: '/Canbo/HOADON_PHONG/ChiTiet',
                type: 'get',
                data: {
                    id: idHDPhong
                },
                success: function (data) {
                    if (data.code == 200) {
                        //console.log(data);
                        //alert("Danh sách hóa đơn phòng đã load lên");
                        //set giá trị mặc định cho các thành phần của form
                        $('#selectPhong').val(data.tA.ID_PHONG);
                        $('#nam').val(data.hdp.NAM);
                        $('#ky').val(data.hdp.KY);
                        $('#trangthai').val(data.hdp.TRANGTHAI);
                       
                        //$('#quanTri').prop('checked', data.cb.QUANTRI == 1?true:false);
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
      

        //chỉnh sửa
        $(document).on('click', "button[name='update']", function () {
            let id = $(this).closest('tr').attr('id');
            $('#idHDPhong').val(id);//gán vào giá trị cho thằng textbox hidden có giá trị để đánh dấu là trường hợp cập nhật
            //set header của modal phòng
            getHDPhong(id);
            $('#modalTitle').text('Chỉnh sửa hóa đơn phòng');

            $('#selectPhong').prop('readonly', false);
            /*//$('#selectPhong').hide();*/
            $('#nam').prop('readonly', false);
            $('#ky').prop('readonly', false);
            $('#trangthai').prop('readonly', false);

            //hiển thị button xác nhận
            $('#btnSubmit').show();

            //hiển thị modal lên
            $('#modalHDPhong').modal();
        })
        
        //sự kiện click của button thêm mới phòng
        $('#btnAdd').click(function () {
            //set header của modal phòng
            $('#modalTitle').text('Thêm mới hóa đơn phòng');

            //set giá trị mặc định cho các thành phần của form
            $('#idHDPhong').val('');
            $('#nam').val('');
            $('#ky').val('');
            $('#trangthai').val('');


            $('#selectPhong').prop('readonly', false);
            $('#nam').prop('readonly', false);
            $('#ky').prop('readonly', false);  
            $('#dongia').prop('readonly', false);
            $('#trangthai').prop('readonly', false);

            //hiển thị button xác nhận
            $('#btnSubmit').show();

            //hiển thị modal lên
            $('#modalHDPhong').modal();
        });


        //sự kiện của button xác nhận
        $('#btnSubmit').click(function () {
            let idHDPhong = $('#idHDPhong').val().trim();
            let idP = $('#selectPhong option:selected').val();
            let nam = $('#nam').val().trim();
            let ky = $('#ky').val().trim();
            let trangthai = $('#trangthai option:selected').val().trim();

            //ràng buộc dữ liệu
            if (nam.length == 0
                || ky.length == 0
                || trangthai.length == 0) {
                alert('Vui lòng nhập đầy đủ thông tin ở các trường có dấu *');
                return;
            }

            if (idHDPhong.length == 0) {//trường hợp thêm mới phòng

                $.ajax({
                    url: '/CanBo/HOADON_PHONG/ThemMoi',
                    type: 'post',
                    data: {
                        idP: idP,
                        nam: nam,
                        ky: ky,
                        trangthai: trangthai
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            LoadDSHDPhong(tuKhoa, trang);//cập nhật lại ds phòng đc hiển thị

                            $('#nam').prop('readonly', false);
                            $('#ky').prop('readonly', false);
                            $('#trangthai').prop('readonly', false);

                            $('#selectPhong').prop('readonly', false);
                            $('#nam').val('');
                            $('#ky').val('');
                            $('#selectDayphong').val('');
                            $('#selectPhong').val('');

                        } else if (data.code == 300) {
                            alert(data.msg);
                        }
                    },
                    error: function (err) {

                    }

                });

            }
            else {//trường hợp cập nhật hóa đơn phòng
                alert(2);
                $.ajax({
                    url: '/CanBo/HOADON_PHONG/CapNhat',
                    type: 'post',
                    data: {
                        id: idHDPhong,
                        idP: idP,
                        nam: nam,
                        ky: ky,
                        trangthai: trangthai
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);

                            $('#nam').prop('readonly', false);
                            $('#ky').prop('readonly', false);
                            $('#trangthai').prop('readonly', false);
                            $('#modalHDPhong').modal('hide');
                            LoadDSHDPhong(tuKhoa, trang);
                        }
                    }
                })
            }
        });

        $('#btnSearch').click(function () {
           
            tuKhoa = $('#txtSearch').val();
           
            LoadDSHDPhong();
            if (tuKhoa.length == 0) {
                LoadDSHDPhong();
            }
          
        });
        //load danh sách hóa đơn phòng
        function LoadDSHDPhong() {
            $.ajax({
                url: '/CanBo/HOADON_PHONG/DsHDPhong',
                type: 'get',

                data: {
                    tuKhoa,
                    trang,
                    
                },
                success: function (data) {
                    console.log(data);
                    $('#tblDsHDPhong').empty();
                    if (data.code == 200) {
                      
                        data.dshdp.forEach(p => {
                            let tr = '<tr id ="' + p.ID_HOADONPHONG + '">';
                            tr += '<td>' + p.MADAYPHONG + '</td>';
                            tr += '<td>' + p.MAPHONG + '</td>';
                            tr += '<td>' + (p.NAM == null ? '' : p.NAM) + '</td>';
                            tr += '<td>' + (p.KY == null ? '' : p.KY) + '</td>';
                            tr += '<td>' + p.DONGIA + '</td>';
                            tr += '<td>' + p.THANHTIEN + '</td>';
                            tr += '<td>' + (p.TRANGTHAIHDP == 0 ? 'Chưa thanh toán' : 'Đã thanh toán') + '</td>';
                            tr += '<td class = "text-right text-nowrap">';
                            tr += '<button class = "btn btn-xs btn-warning" name = "update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>&nbsp;';
                            tr += '</td>';
                            tr += '</tr>';
                            $('#tblDsHDPhong').append(tr);
                        });

                        //phân trang

                        $('#phanTrang').empty();
                        for (i = 1; i <= data.soTrang; i++) {
                            let li = '<li class="page-item" id="' + i + '"><a class="page-link" href="#">' + i + '</a></li>';
                            $('#phanTrang').append(li);
                        }

                        let li = $('#phanTrang li#' + trang + '');//tìm li có id = trang truyền vào
                        //ví dụ trang = 2, sẽ tìm tới cái thằng li có id = 2
                        //tìm ra đc thằng cần tìm thì add class active để đánh dấu trang hiện tại đang đc load
                        $(li).addClass('active');
                    }
                }
            })
        }


        //load danh sách dãy phòng ID -> Mã phòng
        function LoadDsPhong() {
            $.ajax({
                url: '/CanBo/HOADON_PHONG/ListPhong',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#selectPhong').empty();
                        data.dsp.forEach(dp => {
                            let option = '<option value="' + dp.ID_PHONG + '">' + dp.MAPHONG + '</option>';
                            $('#selectPhong').append(option);
                        })
                    }
                }
            })
        }

        //sự kiện click của trang
        $("#phanTrang").on("click", "li", function (e) {
            e.preventDefault();
            trang = $(this).text();
            LoadDSHDPhong();
        });

    </script>
}

